 .html{
  width: 100%;
  height: auto;
}

.header{
 font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 20px;
  color: #724E52;
}

.topnav {
  background-color: #d4bfba;
  overflow: hidden;
  padding-left: 240px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #724e52;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 100px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Noto Serif TC', serif;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #d4bfba;
  color: #724e52;
}


/*圖片特效一*/
.img1 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image1 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay1 {
  position: absolute;
  bottom: 0;
  background: rgb(178,164,155);
  background: rgba(178,164,155,0.7); /* Black see-through */
  color: #f1f1f1;
  width: 60.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Noto Serif TC', serif;
}

/* When you mouse over the container, fade in the overlay title */
.img1:hover .overlay1 {
  opacity: 1;
}

/*圖片特效二*/

.img2 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image2 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay2 {
  position: absolute;
  bottom: 0;
  background: rgb(178,164,155);
  background: rgba(178,164,155,0.7);/* Black see-through */
  color: #f1f1f1;
  width: 60.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Noto Serif TC', serif;
}

/* When you mouse over the container, fade in the overlay title */
.img2:hover .overlay2 {
  opacity: 1;
}

/*圖片特效三*/

.img3 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image3 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay3 {
  position: absolute;
  bottom: 0;
  background: rgb(178,164,155);
  background: rgba(178,164,155,0.7); /* Black see-through */
  color: #f1f1f1;
  width: 61.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Noto Serif TC', serif;
}

/* When you mouse over the container, fade in the overlay title */
.img3:hover .overlay3 {
  opacity: 1;
}

.popu{
  padding-top: 50px;
  display: flex;
  vertical-align: middle;
  padding-bottom: 50px;
}

.img1{
   padding-left: 130px;
}
.img2 {
  padding-left: 130px;
}
.img3{
  padding-left: 125px;
}

.pop_1 h1{
  text-align: center;
  font-family: 'Noto Serif TC', serif;
  font-size: 30px;
  padding-top:50px;
  color: #724e52!important;
}

.new{
  background-color:rgba(208,185,171,0.3);
}
.new_title h1{
  text-align: center;
  font-family: 'Noto Serif TC', serif;
  font-size: 30px;
  padding-top: 50px;
  color: #724e52!important;
}

.new_img{
  display: flex;
  text-align: left;
  padding-left: 150px;
  padding-top:40px;
  padding-bottom: 50px;
}

.new_2{
  vertical-align: middle;
  padding-left: 190px;
}

#m2{
  padding-top: 10px;
}

#m3{
  padding-top: 10px;
}
.new_3{
  padding-left: 190px;
}

#word1{
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
  width: 300px;
  color: #625b57;
  margin-top: 5px;
}

#word2{
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
  margin-top: 45px;
  color: #625b57;
}

#word3{
  font-size: 18px;
  font-family: 'Noto Serif TC', serif;
  margin-top: 45px;
  color: #625b57;
}


.out_1 h1{
  text-align: center;
  font-family: 'Noto Serif TC', serif;
  font-size: 30px;
  padding-top: 50px;
  color: #724e52!important;
}


.footer {
    margin-top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #d4bfba;
    text-align: center;
    color: #724e52;
    font-family: 'Abril Fatface', cursive;
}

/*翻轉卡片1*/
.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 
.card-container1 {
    width: 300px;
    height: 300px;
    padding-left: 130px;
}
 
.card-inner1 {
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}
 
.card-container1:hover .card-inner1 {
    cursor: pointer;
    transform: rotateY(180deg);
}
 
.card-imgouter1 {
    position: absolute;
    backface-visibility: hidden;
}
 
.card-img1 {
    border-radius: 6px;
    width: 300px;
    height: 300px;
}
 
.card-content1 {
    position: absolute;
    background-color: #d4bfba;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    line-height: 300px;
    font-size: 22px;
    font-family: 'Noto Serif TC', serif;
    color: #625b57;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/*翻轉卡片2*/
.card-container2 {
    width: 300px;
    height: 300px;
    padding-left: 130px;
}
 
.card-inner2 {
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}
 
.card-container2:hover .card-inner2 {
    cursor: pointer;
    transform: rotateY(180deg);
}
 
.card-imgouter2 {
    position: absolute;
    backface-visibility: hidden;
}
 
.card-img2 {
    border-radius: 6px;
    width: 300px;
    height: 300px;
}
 
.card-content2 {
    position: absolute;
    background-color: #d4bfba;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    line-height: 300px;
    font-size: 22px;
    font-family: 'Noto Serif TC', serif;
    color: #625b57;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

/*翻轉卡片3*/
.card-container3 {
    width: 300px;
    height: 300px;
    padding-left: 130px;
}
 
.card-inner3 {
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}
 
.card-container3:hover .card-inner3 {
    cursor: pointer;
    transform: rotateY(180deg);
}
 
.card-imgouter3 {
    position: absolute;
    backface-visibility: hidden;
}
 
.card-img3 {
    border-radius: 6px;
    width: 300px;
    height: 300px;
}
 
.card-content3 {
    position: absolute;
    background-color: #d4bfba;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    line-height: 300px;
    font-family: 'Noto Serif TC', serif;
    font-size: 22px;
    color: #625b57;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.outside{
  display: flex;
  padding-top: 50px;
  vertical-align: middle;
  padding-bottom: 50px;
}