html{
  width: 100% !important;
  height: auto;
}

*{margin:0 ;padding:0}

.header{
 font-family: 'Abril Fatface', cursive;
  text-align: center;
  font-size: 20px;
  color: #724E52;
  padding-top: 26px;
}

.topnav {
  background-color: #d4bfba;
  overflow: hidden;
  padding-left: 240px;
  margin-top: 26px;
  margin-bottom: 40px;
}

.body{
  font-family: STHeiti;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #724e52;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 100px;
  text-decoration: none;
  font-size: 17px;
  font-family: STHeiti;
}


/* Add a color to the active/current link */
.topnav a.active {
  background-color: #d4bfba;
  color: #724e52;
}


/*圖片特效一*/
.img1 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image1 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay1 {
  position: absolute;
  bottom: 0;
  background: rgb(178,164,155);
  background: rgba(178,164,155,0.7); /* Black see-through */
  color: #f1f1f1;
  width: 60.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: STHeiti;
}

/* When you mouse over the container, fade in the overlay title */
.img1:hover .overlay1 {
  opacity: 1;
}

/*圖片特效二*/

.img2 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image2 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay2 {
  position: absolute;
  bottom: 0;
  background: rgb(178,164,155);
  background: rgba(178,164,155,0.7);/* Black see-through */
  color: #f1f1f1;
  width: 60.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: STHeiti;
}

/* When you mouse over the container, fade in the overlay title */
.img2:hover .overlay2 {
  opacity: 1;
}

/*圖片特效三*/

.img3 {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image3 {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay3 {
  position: absolute;
  bottom: 0;
  background: rgb(178,164,155);
  background: rgba(178,164,155,0.7); /* Black see-through */
  color: #f1f1f1;
  width: 61.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: STHeiti;
}

/* When you mouse over the container, fade in the overlay title */
.img3:hover .overlay3 {
  opacity: 1;
}

.popu{
  padding-top: 50px;
  display: flex;
  vertical-align: middle;
  padding-bottom: 50px;
}

.img1{
   padding-left: 130px;
   padding-top: 40px;
}
.img2 {
  padding-left: 130px;
  padding-top: 40px;
}
.img3{
  padding-left: 125px;
  padding-top: 40px;
}

.pop_1 h1{
  text-align: center;
  font-family: STHeiti;
  font-size: 40px;
  padding-top:50px;
  color: #724e52!important;
}

.new{
  background-color:rgba(208,185,171,0.3);
}
.new_title h1{
  text-align: center;
  font-family: STHeiti;
  font-size: 40px;
  padding-top: 60px;
  margin-top: 80px;
  color: #724e52!important;
}

.new_img{
  display: flex;
  text-align: left;
  padding-left: 150px;
  padding-top:80px;
  padding-bottom: 80px;
}

.new_2{
  vertical-align: middle;
  padding-left: 190px;
}

#m2{
  padding-top: 10px;
}

#m3{
  padding-top: 10px;
}
.new_3{
  padding-left: 190px;
}

#word1{
  font-size: 18px;
  font-family: STHeiti;
  width: 300px;
  color: #625b57;
  line-height: 25px;
  margin-top: 0px;
}

#word2{
  font-size: 18px;
  line-height: 25px;
  font-family: STHeiti;
  margin-top: 40px;
  color: #625b57;
}

#word3{
  font-size: 18px;
  line-height: 25px;
  font-family: STHeiti;
  margin-top: 40px;
  color: #625b57;
}


.out_1 h1{
  text-align: center;
  font-family: STHeiti;
  font-size: 40px;
  padding-top: 60px;
  color: #724e52!important;
}

.out{
  margin-top: 60px;
}

.footer {
    margin-top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #d4bfba;
    text-align: center;
    color: #724e52;
    font-family: 'Abril Fatface', cursive;
}



/* Container needed to position the overlay. Adjust the width as needed */
.contain {
  position: relative;
  padding-left: 130px;
  max-width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 5px;
  left: 130px;
  right: 0px;
  background: rgb(178,164,155,0.8);
  overflow: hidden;
  width: 300px;
  height: 300px;
  transform: scale(0);
  transition: .3s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.contain:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


/* Container needed to position the overlay. Adjust the width as needed */
.contain1 {
  position: relative;
  max-width: 300px;
  padding-left: 130px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.contain1:hover .overlay {
  transform: scale(1);
}

/* Container needed to position the overlay. Adjust the width as needed */
.contain2 {
  position: relative;
  width: 300px;
  padding-left: 130px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.contain2:hover .overlay {
  transform: scale(1);
}

.what{
  display: flex;
  margin-bottom: 0px;
  padding-top: 50px;
}

